
    <h1>Registration Form</h1>
    
    <form class="form">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="name" id="name"><br>

        <label for="age">Age</label>
        <input type="number" name="Age" placeholder="Age" id="age"><br>
        <label for="DOB">DOB</label>
        <input type="date" name="DOB" id="DOB"><br>
        <label for="Address">Address</label>
        <textarea name="address" id="address" cols="30" rows="10"></textarea><br>
        <label for="phone">phone number</label>
        <input type="text" name="phone number" id="phone" placeholder="phone"><br>
        <label for="email">email</label>
        <input type="email" name="email" id="email" placeholder="email"><br><br>
        <label for="gender">gender</label>
        <input type="radio" name="male" id="male">
        <label for="male">male</label>
        <input type="radio" name="female" id="female">
        <label for="female">female</label>
        <input type="radio" name="other" id="other">
        <label for="other">other</label>
        <br><br>

        <label for="city">City</label>
        <select name="city" id="city">
            <option value="city" id="city">select</option>
            <option value="">Thiruvanthapuram</option>
            <option value="">Kollam</option>
            <option value="">Alapuzha</option>
        </select>
        <br><br>
        <input type="checkbox" name="checkbox" id="checkbox"> Check The Details <br>
        </form>
    

