

    

 <div class="row">

    <div class="col-4">

    </div>

    <div id="container" class="col-4 mt-5  pb-3" style="text-align:center; border-radius:25px;">
        <img src="../../assets/Image/th.jpg" alt="">
        <h1 class="">INDIAN BANK</h1>
        <h6>{{aim}}</h6>
        <input (change)="acnoChange($event)" type="text" class="form-control mt-3" id="loginacc" [placeholder]="accounts">
        <input (change)="pswdChange($event)" type="password" class="form-control mt-3" id="loginpass" placeholder="Password">
        <button class="form-control mt-3 mb-3 btn btn-dark" (click)="login()">Login</button>
        <a href="">Forgot Password</a> 
        <span>or</span>
        <a href="./signup.html">Signup</a>
    </div>

    <div class="col-4">
        
    </div>

</div>
